{% extends "main.html" %}
{% load static %}
{% load home_tags %}
{% load cache %}
{% block contact_active %}active{% endblock %}
{% block title %}Contact{% endblock %}

{% block head %}{% endblock %}

{% block body %}

    <h1>Contact</h1>

    <p class="lead">Send us an E-Mail.</p>

    <form action="{% url 'home:contact' %}" method="post" id="contact-form">
        {% csrf_token %}
        <div class="row mb-3">
            <label for="email" class="col-sm-2 col-form-label">E-Mail</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" name="email" aria-describedby="email-invalid"
                       placeholder="E-Mail Address" required>
                <div id="email-invalid" class="invalid-feedback"></div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="subject" class="col-sm-2 col-form-label">Subject</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="subject" name="subject" aria-describedby="subject-invalid"
                       placeholder="Subject of Message" required>
                <div id="subject-invalid" class="invalid-feedback"></div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="message" class="col-sm-2 col-form-label">Message</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="message" name="message" rows="3"
                          placeholder="Message, question, comment or concern." required></textarea>
                <div id="message-invalid" class="invalid-feedback"></div>
            </div>
        </div>
        {% if request.session.g_verified or request.user.is_authenticated %}{% else %}
        <div class="row mb-3">
            <label for="g-recaptcha" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <div class="g-recaptcha"
                     data-sitekey="{% get_config 'GOOGLE_SITE_PUBLIC' %}"
                     data-theme="dark"
                ></div>
            </div>
        </div>
        {% endif %}
        <div class="row mb-2">
            <label for="submit" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10 form-inline">
                <button type="submit" class="btn btn-outline-success mb-2" id="submit-btn">
                    Send E-Mail <i class="fa-regular fa-envelope ms-2"></i></button>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="send_copy" name="send_copy">
                  <label class="custom-control-label" for="send_copy">Send Copy to Self</label>
                </div>
                <div class="spinner-border text-warning contact-processing" role="status" style="display:none;">
                  <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </form>

    <div class="alert alert-success" role="alert" id="submit-success" style="display:none;">
        Your message has been queued for delivery and will be delivered soon.
    </div>

{% endblock %}

{% block tail %}
    <script type="text/javascript" src="{% static 'main/js/contact.js' %}"></script>
    {% if request.session.g_verified or request.user.is_authenticated %}{% else %}
        <script type="text/javascript" src="https://www.google.com/recaptcha/api.js" async defer></script>
    {% endif %}
{% endblock %}
